name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
        
    - name: Check formatting with Black
      run: black --check .
      
    - name: Check imports with isort
      run: isort --check-only --profile black .
      
    - name: Lint with Pylint
      run: pylint bsort
      
    - name: Run tests
      run: pytest
      
    - name: Build Docker image
      run: docker build . --file Dockerfile --tag bsort:latest
